
.header-container {
    margin:0;
    padding: 0 2rem;
     overflow:none;
    justify-content: left;
}
ul {
    display: flex;
    left: 100%;
}
li {
    width: 100%;
    list-style-type: none;
    border: 1px solid white;
    padding: 5px;
    left:100%;
    margin-bottom: 50px;
    background-color: wheat;
  }

.weather-header {
    padding: 50px;
    color: white;
    font-size: 30px;
    margin-top: -12%;
    
}

.weather-header h3 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top:5px;
}

.weather-header div {
    display: flex;
    border-bottom: 2px solid #eee;
    width: 80%;
    margin: auto;
}
.search-container {
    float: right;
    background: transparent;
    margin-top:-11%;
    padding-right:10%;
  
}
.search-input {
    padding: 6px;
    padding-top:10px;
    font-size: 17px;
    border: none;

}
.search-container button {
    float: right;
    padding: 9.8px 10px;
    margin-top: 9px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.weather-header button:hover{
    background: #ccc;
}

.weather-header i {
    color:yellow;
    position: relative;
    top: 5px;
    right: 5px;
    animation: rotate 5s infinite linear;  
}

.search-input::webkit-input-placeholder {
    font-size: 1.3;
    color: #eee;
    opacity: 0.5;
    color: #D5D8DC;
    font-size: 1.2rem;
    margin-top:auto;
}

.weather-info {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 10%;
}

.weather-info i {
    color:yellow;
    position: relative;
    top: 5px;
    left: 5px;
    animation: rotate 5s infinite linear;
    
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

.header-desription{
    text-align: center;
    margin-bottom: 50px;
    justify-items: center;
}
.city-container {
    float: left;
}


.temperature {
    text-align: center;
    border: white 1px solid;
}

.weather-info h3 {
    margin-bottom: 0%;
}
.degree-symbol::before{
 content: '\00b0';
}
#main-footer{
    background-color: none;
    color: #fff;
   display: grid;
   margin-bottom: 10px;
}


#main-footer .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.2rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

} 

.weather-information{
    float: left;
    margin: auto;
    font-size:1.3rem;
    background-color: transparent ;
  } 
  .weather-information button {
   
    float: left;
    padding: 3px 5px;
    margin-bottom: 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;

  } 
  .weather-informationbutton:hover {
      color: yellow;
  } 
 


.fav {
display:grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 1.2rem;
justify-content: center;
text-align: center;
margin-bottom: 20px;
}
.fav h1{
    font-size:30px;
}
.iccons button{
    margin-top: -400px;
}
.remove{
    margin-left:89%;
    margin-top: auto;
    padding-top:10px;
    padding-right:19px ;
    padding-bottom:10px;
}
